.male{
    color:blue;
}
.female{
    color:pink;
}
.avatar{
    background-color:goldenrod;
}
.rival{
    background-color:aquamarine;
}
.nav-link,#homepage, .link{
    cursor: pointer;
}
#timelapse{
    height:100px;
}
table, th, td {
    border: 1px solid black;
}
#myLogs{
min-height: 85vh;
}
footer{
background-color: black;
color: white;
}
a{
    color: wheat;
    text-decoration: none;
}
a:hover{
    opacity: 0.8;
    color: wheat;
    text-decoration: none;
}
body{
    transition: background-color 3s ease;
}
.container{
background-color: rgba(245, 245, 245);
}
.winter{
    background-color: rgba(245, 245, 245,0.5);
}
.fall{
    background-color: rgba(222,184,135,0.5);
}
.spring{
    background-color: rgba(173,255,47,0.5);
}
.summer{
    background-color: rgba(165,42,42,0.5);
}